<ul>
  <% @incomes.each do |income| %>
    <li><%= income.title %></li>
    <li><%= income.category %></li>
    <li><%= income.description %></li>
    <li><%= income.prijem %></li>
    
    <%= link_to "Delete", income_path(income), method: :delete, data: { confirm: "Are you sure?" } %>
    <li><%= link_to "Update", edit_income_path(income) %></li>
  <% end %>
</ul>

<td><%= link_to 'See the balance', expenses_path %></td>